.form {
  padding-bottom: 10px;

  &__control {
    display: block;
    width: 100%;
    margin: 1rem 0;
  }

  &__button {
    background: var(--secondary-bg);
    border: none;
    //border: 1px solid var(--secondary-bg-dark);
    border-radius: 15px;
    padding: 5px 20px;
    // margin: 0 auto;
    // display: block;
    margin: var(--margin) 0;
    color: var(--secondary-text);
  }
}
