.main-grid {
  display: grid;
  grid-template-rows: 48px auto 60px;
}
.main__content {
  display: grid;
  gap: 20px;
  overflow: scroll;
  padding: 20px;
  &::after {
    content: ' ';
    display: block;
    height: 1px;
  }
}
