.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--secondary-bg);
    color: var(--secondary-text);
    color: rgb(75, 156, 185);
    text-decoration: none;
    font-size: 1rem;
    padding-top: 4px;

    &--active {
      color: var(--primary-bg);
    }
    & i {
      font-size: 1.5em;
      padding-top: 2px;
    }
  }
}
