.search {
  display: flex;
  height: var(--height);
  cursor: pointer;
  border-radius: 15px;
  padding: 0 5px;
  align-items: center;
  &:focus-within {
    background: var(--surface-bg);
    border: 1px solid var(--primary-bg-dark);
    background: var(--secondary-text);
    border: none;
  }
  &__icon {
    font-size: 1.3rem;
  }
  &__label--hidden {
    position: absolute;
    top: -999%;
    left: -999%;
  }
  &__input {
    background: transparent;
    width: 0px;
    line-height: calc(var(--height) - 2px);
    border: none;
    padding: 0;
    transition: all 0.3s;
    outline: none;
    // Reset default-styling in safari and other apple-crap
    -webkit-appearance: none;
    &:focus {
      width: 100px;
      margin-left: 0.3rem;
    }
  }
}
