@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Source + Sans + Pro&display=swap');


// @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: white;
  color: var(--main-text);
  line-height: 1.4;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Lobster, sans-serif;
}

button,
input,
textarea {
  font-size: 1em;
}
