* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: var(--secondary-text);
  color: var(--primary-text);
  line-height: 1.4;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}
h1 {
  font-family: Lobster, sans-serif;
}
button {
  font-size: 1rem;
}
input,
textarea {
  border: 1px solid var(--secondary-bg);
  border-radius: 5px;
  color: var(--primary-text);
  font-family: inherit;
  font-size: 1rem;
  cursor: text;
  resize: none;
  padding: 6px;
  &::placeholder {
    opacity: 0.4;
    font-family: inherit;
    color: var(--primary-text);
  }
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster-Regular'),
    url('/assets/fonts/Lobster/Lobster-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'),
    url('/assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf')
      format('truetype');
}
