:root {
  --accent-bg: rgb(75, 156, 185);
  --primary-bg: #f9aa33;
  --secondary-bg: #232f34;
  --main-text: var(--secondary-bg);
  --secondary-text: #ffffff;
  --primary-text: var(--secondary-bg);
  --surface-bg: #fff8e1;
  --height: 30px;
  --margin: 1rem;
}
